@font-face {
    font-family: "AmgedFont";
    src: url("../Font/static/JosefinSans-Bold.ttf");
    src: url("../Font/static/JosefinSans-Medium.ttf");
    src: url("../Font/static/JosefinSans-Thin.ttf");
}



* {
    font-family: "AmgedFont";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 700 !important;
}

.header {
    background-color: #19283f;
    padding-top: 10px;
    color: #fff;
}

.header nav img {
    width: 150px;
}

.header nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.header>nav>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 
.header .nav-links {
    text-align: right;
    padding-top: 1px;
} */

.header .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.header .nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.header .nav-links ul li a span {
    color: aqua;
}

.header .hr {
    background-color: #0ff;
    width: 1px;
    height: 40px;
    margin-bottom: 8px;
}

.header i {
    padding-bottom: 8px;
    font-size: 21px;
    margin-left: 15px;
}

.header .Login button {
    background-color: #fe3150;
    color: #ffb709;
    width: 195%;
    height: 39px;
    border-radius: 45px;
    border: 0px solid;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 15px;
}

.header h1 {
    text-align: center;
    color: #fff;
    padding-top: 70px;
}

.header p {
    color: #fff;
    text-align: center;
    font-size: 14px;
    word-spacing: -1px;
    line-height: 1.3;
}

.header .Started button {
    background-color: #fe3150;
    color: #ffb709;
    width: 13%;
    height: 46px;
    border-radius: 45px;
    margin-bottom: 78px;
    margin-top: 23px;
    border: 0px solid;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin-left: 95px;
    text-align: center;
    margin-left: 550px;

}

.center {
    background-color: #fff;
    color: #19283f;
    padding-top: 10px;
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
}

.center .hideen h1 {
    text-align: center;
}

.center .hideen p {
    color: #19283f;
    text-align: center;
    font-size: 14px;
    word-spacing: -1px;
    line-height: 1.3;
}

.center .hideen .hr2 {
    text-align: center;
    margin: auto;
    background-color: aqua;
    width: 148px;
    height: 1px;
}

.center .Graghic img {
    margin-right: 29px;
}

.center .Graghic h3 {
    padding-left: 7px;
    color: #ffc402;
}

.center .Graghic p {
    font-size: 19px;
    word-spacing: -1px;
    line-height: 1.3;
    text-align: center;
    padding-left: 13px;
}

.center .web h3 {
    padding-left: 20px;
    color: #ffc402;
}

.center .web p {
    font-size: 18px;
    word-spacing: -1px;
    line-height: 1.3;
    text-align: center;
    padding-left: 38px;
}

.center .App img {
    padding-top: 1px;
}

.center .App h3 {
    padding-left: 46px;
    color: #ffc402;
    padding-top: 15px;
}

.center .App p {
    font-size: 18px;
    word-spacing: -1px;
    line-height: 1.3;
    text-align: center;
    padding-left: 38px;
}

.make {
    background-color: #eff7fa;
    padding-top: 10px;
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
}

.make img {
    margin-bottom: -20px;
}

.make h3 {
    text-align: center;
    font-size: 36px;
}

.make p {
    color: #19283f;
    text-align: center;
    font-size: 14px;
    word-spacing: -1px;
    line-height: 1.3;
}

.make .hr3 {
    text-align: center;
    background-color: aqua;
    width: 144px;
    height: 3px;
    margin: auto;
}

.make .button {
    text-align: center;
    background-color: #eff7fa;
    border: 0px solid;
    padding-top: 35px;
    margin-left: 52px;
    padding-top: 71px;
}

.make .button .All {
    border: 0px solid;
    word-spacing: -1px;
    font-size: 18px;
    margin-right: 50px;
    background-color: #fe3150;
    color: #ffb709;
    width: 67px;
    height: 45px;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
}

.make .button .Design {
    border: 0px solid;
    background-color: #eff7fa;
    word-spacing: -1px;
    font-size: 18px;
    margin-right: 50px;
}

.make .button .Code {
    border: 0px solid;
    background-color: #eff7fa;
    word-spacing: -1px;
    font-size: 18px;
    margin-right: 50px;
}

.make .button .Photography {
    border: 0px solid;
    background-color: #eff7fa;
    word-spacing: -1px;
    font-size: 18px;
    margin-right: 50px;
}

.make .button .Apps {
    border: 0px solid;
    background-color: #eff7fa;
    word-spacing: -1px;
    font-size: 18px;
    margin-right: 50px;
}

.squers {
    display: inline-flex;
    margin-left: 15px;
    padding-top: 26px;
    text-align: center;
}

.squers .squer1 {
    background-color: #fff;
    height: 195px;
    width: 259px;
    text-align: center;
    overflow: hidden;
}

.squers .squer1 .product {
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    margin: 0px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.squers .squer1 .product .show {
    width: 100%;
    height: 100%;
    display: block;
}

.squers .squer1 .product .show img {
    width: 100%;
    height: 100%;

}

.squers .squer1 .product .info h5 {
    font-size: 31px;
}

.squers .squer1 .product .info p {
    font-size: 31px;
    color: aqua;
}

.squers .squer1 .product .info {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    bottom: -100%;
    left: 0;
    background-color: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-weight: 700;
    transition: .4s;
}

.squers .squer1 .product:hover .info {
    bottom: 0;
}


.squers .squer2 {
    background-color: #fff;
    height: 195px;
    width: 259px;
    margin-right: 30px;
    margin-left: 30px;
}

.squers .squer2 .product {
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    margin: 0px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.squers .squer2 .product .show {
    width: 100%;
    height: 100%;
    display: block;
}

.squers .squer2 .product .show img {
    width: 100%;
    height: 100%;

}

.squers .squer2 .product .info h5 {
    font-size: 31px;
}

.squers .squer2 .product .info p {
    font-size: 31px;
    color: aqua;
}

.squers .squer2 .product .info {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    bottom: -100%;
    left: 0;
    background-color: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-weight: 700;
    transition: .4s;
}

.squers .squer2 .product:hover .info {
    bottom: 0;
}


.squers .squer3 {
    background-color: #fff;
    height: 195px;
    width: 259px;
    margin-right: 30px;
}

.squers .squer3 .product {
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    margin: 0px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.squers .squer3 .product .show {
    width: 100%;
    height: 100%;
    display: block;
}

.squers .squer3 .product .show img {
    width: 100%;
    height: 100%;

}

.squers .squer3 .product .info h5 {
    font-size: 31px;
}

.squers .squer3 .product .info p {
    font-size: 31px;
    color: aqua;
}

.squers .squer3 .product .info {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    bottom: -100%;
    left: 0;
    background-color: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-weight: 700;
    transition: .4s;
}

.squers .squer3 .product:hover .info {
    bottom: 0;
}


.squers .squer4 {
    background-color: #fff;
    height: 195px;
    width: 259px;
    margin-right: 30px;
}

.squers .squer4 .product {
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    margin: 0px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.squers .squer4 .product .show {
    width: 100%;
    height: 100%;
    display: block;
}

.squers .squer4 .product .show img {
    width: 100%;
    height: 100%;

}

.squers .squer4 .product .info h5 {
    font-size: 31px;
}

.squers .squer4 .product .info p {
    font-size: 31px;
    color: aqua;
}

.squers .squer4 .product .info {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    bottom: -100%;
    left: 0;
    background-color: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-weight: 700;
    transition: .4s;
}

.squers .squer4 .product:hover .info {
    bottom: 0;
}


.squers .squer1-1 {
    background-color: #fff;
    height: 195px;
    width: 259px;
    text-align: center;
    overflow: hidden;
}

.squers .squer1-1 .product {
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    margin: 0px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.squers .squer1-1 .product .show {
    width: 100%;
    height: 100%;
    display: block;
}

.squers .squer1-1 .product .show img {
    width: 100%;
    height: 100%;

}

.squers .squer1-1 .product .info h5 {
    font-size: 31px;
}

.squers .squer1-1 .product .info p {
    font-size: 31px;
    color: aqua;
}

.squers .squer1-1 .product .info {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    bottom: -100%;
    left: 0;
    background-color: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-weight: 700;
    transition: .4s;
}

.squers .squer1-1 .product:hover .info {
    bottom: 0;
}

.squers .squer2-1 {
    background-color: #fff;
    height: 195px;
    width: 259px;
    margin-right: 30px;
    margin-left: 30px;
}

.squers .squer2-1 .product {
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    margin: 0px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.squers .squer2-1 .product .show {
    width: 100%;
    height: 100%;
    display: block;
}

.squers .squer2-1 .product .show img {
    width: 100%;
    height: 100%;

}

.squers .squer2-1 .product .info h5 {
    font-size: 31px;
}

.squers .squer2-1 .product .info p {
    font-size: 31px;
    color: aqua;
}

.squers .squer2-1 .product .info {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    bottom: -100%;
    left: 0;
    background-color: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-weight: 700;
    transition: .4s;
}

.squers .squer2-1 .product:hover .info {
    bottom: 0;
}

.squers .squer3-1 {
    background-color: #fff;
    height: 195px;
    width: 259px;
    margin-right: 30px;
}

.squers .squer3-1 .product {
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    margin: 0px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.squers .squer3-1 .product .show {
    width: 100%;
    height: 100%;
    display: block;
}

.squers .squer3-1 .product .show img {
    width: 100%;
    height: 100%;

}

.squers .squer3-1 .product .info h5 {
    font-size: 31px;
}

.squers .squer3-1 .product .info p {
    font-size: 31px;
    color: aqua;
}

.squers .squer3-1 .product .info {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    bottom: -100%;
    left: 0;
    background-color: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-weight: 700;
    transition: .4s;
}

.squers .squer3-1 .product:hover .info {
    bottom: 0;
}

.squers .squer4-1 {
    background-color: #fff;
    height: 195px;
    width: 259px;
    margin-right: 30px;
}

.squers .squer4-1 .product {
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    margin: 0px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.squers .squer4-1 .product .show {
    width: 100%;
    height: 100%;
    display: block;
}

.squers .squer4-1 .product .show img {
    width: 100%;
    height: 100%;

}

.squers .squer4-1 .product .info h5 {
    font-size: 31px;
}

.squers .squer4-1 .product .info p {
    font-size: 31px;
    color: aqua;
}

.squers .squer4-1 .product .info {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    bottom: -100%;
    left: 0;
    background-color: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-weight: 700;
    transition: .4s;
}

.squers .squer4-1 .product:hover .info {
    bottom: 0;
}

.make .I-WANT-MORE button {
    border: 0px solid;
    font-size: 18px;
    margin-right: 50px;
    background-color: #fe3150;
    color: #ffb709;
    width: 192px;
    height: 54px;
    border-radius: 45px;
    cursor: pointer;
    text-align: center;
    margin-top: 41px;
    margin-left: 87px;
}

.About-us {
    background-color: #fff;
    /* text-align: center; */
    padding-left: 39px;
    padding-right: 39px;
}

.About-us .hr4 {
    width: 150px;
    height: 2px;
    background-color: #0ff;
    text-align: center;
    margin: auto;
}

.About-us p {
    font-size: 19px;
    word-spacing: -2px;
    line-height: 1.1;
    text-align: center;
    font-weight: 900 !important;
    padding-top: 10px;
    max-width: 500px;
    margin-left: 349px;
}

.ratine {
    margin-left: 32px;
    display: inline-flex;
    margin-bottom: -12px;
}

.ratine h1 {
    padding-top: 59px;
    padding-left: 88px;
    margin-bottom: -11px;
}

.ratine h6 {
    padding-top: 10px;
    font-size: 15px;
    padding-left: 89px;
}

.ratine h5 {
    font-size: 14px;
    padding-top: 7px;
    padding-left: 91px;
}

.ratine button {
    background-color: #fe3150;
    color: #ffb709;
    width: 48%;
    height: 46px;
    border-radius: 45px;
    border: 0px solid;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin-left: 97px;
    text-align: center;
}

.ratine img {
    height: 354px;
    width: 862px;
    margin-left: 9px;
    padding-left: 130px;
    padding-top: 53px;
}

.meet {
    background-color: #eff7fa;
    text-align: center;
    padding: 32px;
}

.meet h1 {
    color: #fcc50a;
}

.meet p {
    font-size: 20px;
    word-spacing: -2px;
    line-height: 1.1;
    text-align: center;
    font-weight: 900 !important;
    padding-top: 10px;
    margin-left: 2px;
}

.squers2 {
    display: inline-flex;
    margin-left: 15px;
    padding-top: 26px;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.squers2>div {
    background-color: #fff;
    width: 250px;
    text-align: center;
    overflow: hidden;
    margin: 10px;
    position: relative;
}

.squers2 div img {
    width: 100%;
    height: 250px;
}

.squers2 div .Luke {
    font-size: 36px;
    background-color: #32d1ccbd;
    color: white;
    text-align: center;
    width: 100%;
    top: 198px;
    position: absolute;
}

.squers2 div p {
    padding: 0 15px;
    font-size: 19px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgss {
    background-color: #fff;
    display: inline-flex;
    padding-top: 83px;
    padding-bottom: 59px;
    text-align: center;
    align-items: center;
}

.imgss .tech-1 img {
    margin-left: 130px;
}

.imgss .tech-2 img {
    margin-left: 130px;
    padding-top: 4px;
}

.imgss .tech-3 img {
    margin-left: 130px;
    padding-top: 4px;
    margin-right: 130px;
}

.imgss .tech-1-ree img {
    margin-right: 133px;
}

.start {
    background-color: #19283f;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 66px;
}

.start .Project {
    border: 0px solid;
    font-size: 18px;
    margin-right: 50px;
    background-color: #fe3150;
    color: #ffb709;
    width: 192px;
    height: 42px;
    border-radius: 45px;
    cursor: pointer;
    text-align: center;
    margin-top: 41px;
    margin-left: 57px;
}

.Read {
    background-color: #fff;
    color: #19283f;
    text-align: center;
    height: 740px;
}

.Read img {
    text-align: center;
    margin-bottom: -16px;
    margin-top: 60px;
}

.Read .hr5 {
    width: 128px;
    height: 2px;
    background-color: #0ff;
    margin: auto;
}

.Some {
    display: inline-flex;
    margin-left: -44px;
}

.Some .blog {
    background-color: #fff;
    height: 249px;
    width: 378px;
    text-align: center;
    overflow: hidden;
    margin-left: 30px;
    margin-top: 50px;
    border: 1px solid;
    border-radius: 4px;
    color: #dfdfdf;
    margin-right: -11px;
}

.Some .blog img {
    width: 100%;
    height: 65%;
    margin-top: 0px;
}

.Some .blog h6 {
    padding-top: 31px;
    margin-right: 263px;
    font-size: 18px;
    color: #19283f;
}

.Some .blog h1 {
    margin-right: 114px;
    font-size: 19px;
    color: #19283f;
    margin-top: 3px;
}

.Read .More {
    border: 0px solid;
    font-size: 18px;
    margin-right: 50px;
    background-color: #fe3150;
    color: #ffb709;
    width: 192px;
    height: 42px;
    border-radius: 45px;
    cursor: pointer;
    text-align: center;
    margin-top: 41px;
    margin-left: 57px;
}

.newsletter {
    background-color: #fcc50a;
    width: 100%;
    padding: 30px 0;
}

.News-letter {
    display: inline-flex;
    font-weight: bold !important;

}

.newsletter h1 {
    font-size: 27px;
    margin-left: 46px;
    padding-top: 10px;
    font-weight: bold !important;
}

.News {
    display: inline-flex;
}

.News-letter123 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.News-letter123 input[type="text"] {
    border: none;
    border-bottom: 1px solid white;
    background-color: #fcc50a;
    padding: 10px;
    width: calc(100% - 200px);
    height: auto;
}

.News-letter123 input[type="text"]:focus {
    outline: none;
    color: #fff;
}

.News-letter123 input::placeholder {
    color: white;
}

.News-letter123 button {
    margin-left: 20px;
}
.footer{
    background-color: #19283f;
    padding-top: 10px;
    color: #8c939f;
    height: 370px;
}
.footer img{
    margin-bottom: 15px;
}
.footer p{
    font-size: 16px;
    padding-left: 40px;
    margin-bottom: 41px;
}
.footer .copyright{
    margin-left: 40px;
}
.footer .copyright span{
    color: #0ff;
}
.footer .copyright .Inc span{
    color: #fcc50a;
}
.footer .Links{
    padding-top: 15px;
    line-height: 2em;
}
.footer .Links ul li span{
    color: white;
    font-weight: bold !important;
}
.footer .Contact-Us h3{
    padding-top: 22px;
    padding-left: 36px;
    color: white;
}
.footer .Contact-Us .graphberry{
    border: 0px solid;
    font-size: 18px;
    margin-right: 50px;
    background-color: #fe3150;
    color: #ffb709;
    width: 268px;
    height: 42px;
    border-radius: 45px;
    cursor: pointer;
    text-align: center;
    margin-top: 11px;
    margin-left: 39px;
}
.footer .Contact-Us .images-4{
    padding-top: 29px;
    margin-left: 42px;
    word-spacing: 8px;
}